<%= form_for(@decument) do |f| %>
  <% if @decument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decument.errors.count, "error") %> prohibited this decument from being saved:</h2>

      <ul>
      <% @decument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <%= f.hidden_field :user_id, :value=>current_user.id.to_i %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
