<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @decument.subject %>
</p>

<p>
  <strong>Title:</strong>
  <%= @decument.title %>
</p>

<p>
  <strong>File:</strong>
  <%= @decument.file %>
</p>

<p>
  <strong>Description:</strong>
  <%= @decument.description %>
</p>

<%= link_to 'Edit', edit_decument_path(@decument) %> |
<%= link_to 'Back', decuments_path %>
